[submodule "ext_libs/PROJ"]
	path = ext_libs/PROJ
	url = https://github.com/OSGeo/PROJ.git
	branch = 6.2
[submodule "ext_libs/libtiff"]
	path = ext_libs/libtiff
	url = https://gitlab.com/libtiff/libtiff.git
[submodule "ext_libs/libgeotiff"]
	path = ext_libs/libgeotiff
	url = https://github.com/OSGeo/libgeotiff.git
